@charset "UTF-8";
.textfade {
	animation-name: fadein;
	opacity: 0;
	animation: fadein 1s forwards;
	animation-delay: 1s;
}

@keyframes fadein {
	from { opacity: 0;}
	to{ opacity: 1; }
}
.h1{
	text-align: left;
	color: darkslateblue;
		
}

.h3{
text-align: right
	
}
.body2{
	text-align: center;
	color: darkslateblue;
	font-size: 20px
}
body{
	background-color: lightgrey
}
.h5{
	color: lightgrey;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif"
}