@charset "UTF-8";
body{
	background-color: darkred;
}
.h5{
	color: darkred;
	text-align: right;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif"
}
.h1{
	text-align: center;
	text-decoration-style: double;
}
.h3{
	text-align: right;
}